
.about_wrapper {
    position: absolute;
    top: 0px;
    left: 50px;

    width: calc(100% - 50px);
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);

}

.about_me {
    height: inherit;

    display: flex;
    align-items: center;
}


.user_card {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3%;
    margin: 15%;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0px 0px 20px black;
    border-radius: 10px;
}

.user_card img {
    border-radius: 50%;
    border: 4px solid black;
    height: 15vw;
    margin-bottom: 20px;
}


.internship {

    height: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.internship > p {
    width: 80%;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 2%;
    
    text-shadow: 1px 1px 1px black;
}

.skills_panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skill {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;

    border: 2px solid black;
    border-radius: 4px;

    color: white;
    text-shadow: 1px 1px 1px black;
}
