

.tab_wrapper {
    top: 0%;
    left: 0%;

    height: 30px;
    width: 100%;

    display: flex;
    justify-content: left;
    align-items: center;

    background-color: #111;
    color: #111;
    border-bottom: 1px solid #333;
}

.tab_file {
    display: flex;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;

    align-items: center;

    border-right: 1px solid #333;
    border-bottom: 1px solid #222;
    background-color: #222;
}

.tab_file > p {
    font-size: 9pt;
    color: #82b74b;
    margin-left: 3px;
}